//------------- Fonts --------------
$poppins: "Poppins", sans-serif;
$lato: "Lato", sans-serif;

//------------- Colors ------------
$light: #f9f9f9;
$blue: #3c91e6;
$light-blue: #cfe8ff;
$grey: #eee;
$dark-grey: #aaaaaa;
$dark: #342e37;
$red: #db504a;
$yellow: #ffce2c;
$light-yellow: #fff2c6;
$orange: #fd7238;
$light-orange: #ffe0d3;
